* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:60px 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f6f9fc;
  color: #333;
}


a {
  text-decoration: none;
  color: #4a90e2;
}


button {
  font-family: inherit;
  border: none;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #3d7ecb;
}
